layout: trainings
title: Formations - Informations pratiques
description: Tyneo dispense des formations sur les processus et outils de gestion de projets d'Entreprise (EPM), de gestion de portefeuille projets (PPM) et de gestion des exigences (RM).
keywords: formation, ppm, epm, rm
og_type: website
---


<h2 class="text-rosy">Intra-entreprises</h2>
<ol class="breadcrumb">
  <li><a href="index.html">Formations</a></li>
  <li class="active">Intra-entreprises</li>
</ol>
<ul class="fa-ul mb10">
	<li><h3 class="text-green"><i class="fa-li fa fa-bookmark"></i> Tarifs des formations intra-entreprises</h3>
		<table class="table table-bordered table-striped">
    		<thead>
    			<tr>
    				<th>Durée de formation</th>
    				<th>Base tarifaire</th>
    				<th>Participants</th>
    				<th>Déplacements</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>1 journée</td>
    				<td>1 500€ HT</td>
    				<td>150€ par participant</td>
    				<td>cf. grille annexe</td>
    			</tr>
    			<tr>
    				<td>2 journées</td>
    				<td>2 200€ HT</td>
    				<td>130€ par participant</td>
    				<td>cf. grille annexe</td>
    			</tr>
    			<tr>
    				<td>3 journées et plus</td>
    				<td>3 110€ HT</td>
    				<td>120€ par participant</td>
    				<td>cf. grille annexe</td>
    			</tr>
			</tbody>
		</table>
	</li>
	<li><h3 class="text-blue"><i class="fa-li fa fa-calculator"></i> Grille indicative des frais de déplacement et hébergement</h3>
		<table class="table table-bordered table-striped">
    		<thead>
    			<tr>
    				<th>Lieu</th>
    				<th>Frais fixes</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>Paris et alentours</td><td>aucun frais</td>
    			</tr>
    			<tr>
    				<td>Lyon, Clermont-Ferrand</td><td>300€ HT <em>(+150€ par jour supp.)</td>
    			</tr>
    			<tr>
    				<td>Toulouse, Montpellier, Bordeaux</td><td>500€ HT <em>(+150€ par jour supp.)</td>
    			</tr>
    			<tr>
    				<td>Bruxelles, Amsterdam</td><td>600€ HT <em>(+150€ par jour supp.)</td>
    			</tr>
    			<tr>
    				<td>Autres villes, ou hors de France ou d'Europe</td><td>Contactez-nous</td>
    			</tr>
			</tbody>
		</table>
	</li>
	<li><h3 class="text-rosy"><i class="fa-li fa fa-bolt"></i> Prérequis</h3>
		<table class="table table-bordered table-striped">
    		<tbody>
    			<tr>
    				<td>Équipement</td><td>Vidéoprojection, tableau blanc, un poste par stagiaire de préférence.</td>
    			</tr>
    			<tr>
    				<td>Logiciels</td><td>Navigateurs web récents (Firefox, Chrome, Internet Explorer), Microsoft Office (de préférance)</td>
    			</tr>
    			<tr>
    				<td>Pour le formateur</td><td>Vidéoprojection (HDMI/VGA) pour son ordinateur portable personnel </td>
    			</tr>
    			<tr>
    				<td>Horaires (par défaut)</td><td>9h30 - 18h, avec une pause d’une heure prévue vers midi.</td>
    			</tr>
			</tbody>
		</table>
	</li>
</ul>
