layout: trainings
title: Contactez-nous
description: Vous désirez entrer en contact avec nous pour discuter de nos expériences, de nos compétences ou de nos équipes ? Vous souhaitez en savoir plus sur l'une de nos offres commerciales ?
keywords: contact, tyneo, adresse, téléphone, mail
og_type: website
---
<h2 class="text-rosy">Nous contacter</h2>
<ol class="breadcrumb">
  <li><a href="index.html">Formations</a></li>
  <li class="active">Nous contacter</li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <p class="lead wow fadeIn">Vous souhaitez vous inscrire à une formation ou obtenir des informations complémentaires ? Prenons contact pour en discuter...</p>
    </div>
</div>
<!-- /.row -->

<div id='crmWebToEntityForm' class="contact_form" style=''>
   <form class="validate" id="contact-widget-form-8262" action="/fr/about/contact_send.html" method="post" data-netlify="true">
<input type='hidden' name='lang' value='fr'/>
<input type='hidden' name='form' value='training'/>
	 <!-- Do not remove this code. -->
	<style>
		tr , td {
			padding:6px;
			border-spacing:0px;
			border-width:0px;
			}
	</style>



	<table style='width:100%'>
  <tr>
    <td>Modalités</td>
    <td>
      <div class="radio">
        <label>
          <input type="radio" name="modalite" value="inter-entreprise" checked>
          Inter-entreprises
        </label><br/>
        <label>
          <input type="radio" name="modalite" value="intra-entreprise">
          Intra-entreprise
        </label>
      </div>
    </td></tr>
  <tr><td colspan="2">Formation concernée :</td></tr>
  <tr>
    <td colspan="2">{% training_table "selector,category,name,duration" true %}</td>
  </tr>
	<tr><td>Nom<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='80' name='Last Name' /></td></tr>
	<tr><td>Soci&eacute;t&eacute;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Company' /></td></tr>

	<tr><td>Adresse e-mail<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Email' /></td></tr>

	<tr><td>T&eacute;l&eacute;phone</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='Phone' /></td></tr>

	<tr><td>Message<span style='color:red;'>*</span> </td><td> <textarea name='LEADCF1' maxlength='2000'>&nbsp;</textarea></td></tr>

  <tr><td colspan='2'>
    <div data-netlify-recaptcha="true"></div>
  </td></tr>
  
	<tr><td colspan='2' style='text-align:center; padding-top:15px;'>
		<input class="btn btn-rosy2" type='submit' value='Envoyer mon message !' />
	    </td>
	</tr>
   </table>
	</form>
</div>
