layout: trainings
title: Catalogue des formations
description: Tyneo dispense des formations sur les processus et outils de gestion de projets d'Entreprise (EPM), de gestion de portefeuille projets (PPM) et de gestion des exigences (RM).
keywords: formation, ppm, epm, rm
og_type: website
---


<h2 class="text-rosy">Catalogue des formations</h2>
<ol class="breadcrumb">
  <li class="active">Formations</li>
</ol>
<ul class="fa-ul mb10">
  <li>
  <p>Tyneo Consulting est un organisme de formation enregistré sous le numéro 11940949594.</p>
	<li><h3 class="text-blue"><i class="fa-li fa fa-globe"></i> Où que vous soyez</h3>
	<p>Les programmes de formation Tyneo Consulting peuvent être dispensés sur votre lieu de travail ou dans nos centres de formation partenaires.</p>
	</li>
	<li><h3 class="text-grey"><i class="fa-li fa fa-plus-circle"></i> Des programmes sur mesure</h3>
	<p>La plupart des formations Tyneo Consulting peuvent être personnalisées afin d'intégrer les processus internes de votre entreprise ou d'adresser des problématiques spécifiques.</p>
	<li><h3 class="text-green"><i class="fa-li fa fa-eur"></i> Bénéficiez d'un tarif préférentiel</h3>
	<p>
- Vous êtes indépendant et ne bénéficiez pas du CPF ?<br/>
- Vous êtes demandeur d’emploi ?<br/>
- Ou vous commitez régulièrement sur un projet open-source ?<br/>
Alors bénéficiez d’une <strong>réduction de 10%</strong> sur l’ensemble de nos formations.
	</p>
</li></ul>

{% training_table "category,name,duration,strong" false "top-buffer"%}
