layout: trainings
title: Formations - Informations pratiques
description: Tyneo dispense des formations sur les processus et outils de gestion de projets d'Entreprise (EPM), de gestion de portefeuille projets (PPM) et de gestion des exigences (RM).
keywords: formation, ppm, epm, rm
og_type: website
---


<h2 class="text-rosy">Informations pratiques</h2>
<ol class="breadcrumb">
  <li><a href="index.html">Formations</a></li>
  <li class="active">Informations pratiques</li>
</ol>
<ul class="fa-ul mb10">
	<li><h3 class="text-green"><i class="fa-li fa fa-legal"></i> Déroulement des inscriptions aux formations</h3>
		<p>Après un premier contact permettant de comprendre votre besoin de formation, nous sélectionnons ensemble le cursus le plus adapté.
		Nous vous transmettons ensuite l'ensemble des documents vous permettant de vous inscrire à la formation :</p>
		<ul>
			<li>la convention de Formation correspondant au(x) stage(s),</li>
			<li>nos conditions générales de Formation,</li>
			<li>ainsi que le règlement intérieur.</li>
		</ul>
		<p>Une fois que nous avons reçu votre convention de Formation signée, votre inscription est validée et quelques jours avant
      la formation, vous recevez une convocation indiquant le lieux et les horaires du stage.</p>
	</li>
	<li><h3 class="text-rosy"><i class="fa-li fa fa-map-marker"></i> Accès au centre de formation</h3>
		<p>Les stages inter-entreprises se déroule à Paris et habituellement au 52 boulevard Sébastopol 75003 Paris.
      L'accès y est facilité par la proximité de la gare "Châtelet - Les Halles" qui désert 3 lignes RER et 5 lignes de métro.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.759064635695!2d2.3486408160546887!3d48.86280460834926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1bd9196527%3A0x32006a9306b590ed!2s52+Boulevard+de+S%C3%A9bastopol%2C+75001+Paris!5e0!3m2!1sfr!2sfr!4v1501138509083" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</li>
	<li><h3 class="text-blue"><i class="fa-li fa fa-clock-o"></i> Horaires des sessions</h3>
		<p>Les sessions de formation commencent à 9h30 et se terminent au plus tard à 18h30.
      Le déjeuner est libre mais nous proposons aux stagiaires de déjeuner ensemble afin de permettre une discussion
      moins formelle entre le formateur et les participants.</p>
	</li>
  <li><h3 class="text-grey"><i class="fa-li fa fa-life-ring"></i> Testez vos connaissances</h3>
		<p>Avant de participer à une formation, vous pouvez <a href="/fr/quiz">évaluer vos connaissances sur le sujet en participant aux QCM</a> préparés par nos soins...</p>
	</li>
</ul>
