layout: simple
title: Planisware Consulting and Solutions Integration
description: Tyneo Consulting will assist you in your project to integrate and develop the Planisware solution.
keywords: planisware, opx2, ppm, epm, training, ojs
og_type: website
---
<!-- Header -->
<header id="top" class="header header-project">
    <div class="text-vertical-center">
        <h1 class="text-white">Project Management</h1>
        <h3 class="text-white">Consulting and Solutions Integration <strong>#Planisware</strong></h3>
        <br>
        <a href="#about" class="btn btn-rosy btn-lg wow slideInUp">Our service offer...</a>
    </div>
</header>


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead wow fadeIn">
				Tyneo Consulting will assist you in your project to integrate and develop the <a class="about" href="tools/epm-ppm/planisware.html">Planisware</a> solution. Our product knowledge will allow you to benefit from the very best expertise – we will be able to adapt the <a class="about" href="tools/epm-ppm/planisware.html">Planisware</a> tool’s features to your own needs.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary">
    <div class="container mb10">
        <div class="row text-center bottom-buffer">
            <div class="">
                <h2>Our <i>#Planisware</i> service offer</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-lg-offset-1 col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Implementation Support</strong>
                            </h4>
                            <a href="#accompagnement" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Planisware Solutions Integration</strong>
                            </h4>
                            <a href="#integration" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Planisware Performance & Reliability</strong>
                            </h4>
                            <a href="#performance" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Planisware Maintenance & Exploitation</strong>
                            </h4>
                            <a href="#maintenance" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Planisware Training</strong>
                            </h4>
                            <a href="#formation" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Accompagnement -->
<section id="accompagnement" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-rosy"></i>
                        <i class="fa fa-users fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-rosy wow fadeIn">Implementation Support</h1>
                </div>
                <p class="wow fadeIn">
				Implementing a fully equipped portfolio management solution such as Planisware is a structuring and critical process. The choices made at this key stage can determine the success of your project (framing of the need, cost of the project, deadlines, user appeal, technical debt, etc.)<br/>
				Our consultants are particularly enthusiastic about the progress of agile projects, notably through the Scrum method. <i>We strongly recommend that our customers adopt it for the implementation of a software package.</i>
			    </p>
                <!--<div class="wow fadeIn center-block"><img class="img-responsive center-block" alt="Tyneo Project cycle" src="/images/project_cycle.png"/></div>-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="divider divider-center divider-green">
	<i class="fa fa-chevron-down"></i>
</div>


<!-- Accompagnement -->
<section id="integration" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-flask fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green wow fadeIn">Planisware Solutions Integration</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    	<p class="wow fadeIn">
						Although the Planisware solution is a highly comprehensive one, it still needs to be tailored to perfectly match your information system and respond to both your processes and needs. In this context, our skills and experience in setting up and developing <a class="about" href="tools/epm-ppm/planisware.html">Planisware</a> will help you answer this issue.</p>
                    </div>

                    <div class="col-md-6">
                    	<p class="wow fadeIn">Owing to the Tyneo Consulting experts’ knowledge of the various programming languages (JAVA, .NET, VBA and PHP), we can provide you with optimized solutions that reach beyond those delivered by <a class="about" href="tools/epm-ppm/planisware.html">Planisware</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<aside class="block block-green">
	<h3 class="title wow fadeIn"><strong>Commitment</strong> that lasts</h3>
<p class="wow fadeIn">Our consultants strive to offer the most standard solutions in order to ensure the scalable maintenance of the Planisware application, as well as the standardization of working methods. To achieve this, we rely on official publisher recommendations present in the “Best Practices for Planisware 5” white paper, but also on internal best practices determined by our consultant’s experience.<br/>
If one of our proposals deviates from the publisher’s standards, we can justify it and demonstrate that we have studied all the tracks that best comply with Planisware standard.</p>
</aside>

<!-- Performance & Fiabilité Planisware -->
<section id="performance" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-rocket fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-blue wow fadeIn">Planisware Performance & Reliability</h1>
                </div>
                <p class="wow fadeIn">Tyneo is involved in optimizing the performance and reliability of your Planisware architecture. As part of these auditing assignments, we consider many aspects:</p>
				<ul class="list-unstyled wow fadeIn">
					<li><i class="fa fa-check text-green"></i> Planisware architecture (system, patches, Java/Ajax applet, common files/environments, segmentation, etc.),</li>
					<li><i class="fa fa-check text-green"></i> User transactions (client, browser, network, etc.),</li>
					<li><i class="fa fa-check text-green"></i> Application logs, error messages,</li>
					<li><i class="fa fa-check text-green"></i> Repository (data organization, data anomalies – unknown objects, etc.),</li>
					<li><i class="fa fa-check text-green"></i> Database (SQL queries, PDM, field indexing, etc.),</li>
					<li><i class="fa fa-check text-green"></i> Logs and monitoring tools (long transactions, cost calculation, etc.),</li>
					<li><i class="fa fa-check text-green"></i> Planisware Replay (non-regression testing).</li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<aside class="block block-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="wow fadeIn">PlaniSphere Links for Chrome</h3>
                <p class="wow fadeIn"><a class="hover-big" href="http://lab.tyneo.net/planisphere/links"><strong>PlaniSphere Links</strong></a> makes it possible to obtain all the links necessary to administer Planisware in just one click. <em>Made by Tyneo</em></p>
            </div>
        </div>
    </div>
</aside>


<!-- Maintenance & exploitation Planisware -->
<section id="maintenance" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-rosy"></i>
                        <i class="fa fa-shield fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-rosy wow fadeIn">Planisware Maintenance & Exploitation</h1>
                </div>
                <p class="wow fadeIn">Is your company already equipped with Planisware tools? Tyneo Consulting can perform functional or technical support tasks. Our multi-skill set enables us to intervene on many aspects related to the Planisware tool or to the surrounding ecosystem (Oracle/PostegreSQL/SQL Server Database, Windows or Linux Server, Apache, IIS...) and to propose improvements around these activities.</p>
            </div>
        </div>
        <div class="row wow fadeIn">
          <div class="col-md-4"><img class="img-responsive" alt="Courbes d'évolution de l'usage des licences Planisware (TimeCard et Intranet)" src="/images/project-maint-1.png"/></div>
          <div class="col-md-4"><img class="img-responsive" alt="Vérification du référentiel Planisware / Alerte indisponibilité des services Intranet et TimeCard" src="/images/project-maint-2.png"/></div>
          <div class="col-md-4"><img class="img-responsive" alt="Tableau de bord permetant de contrôler le bon déroulement des traitements de nuit Planisware" src="/images/project-maint-3.png"/></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="divider divider-center divider-green">
	<i class="fa fa-chevron-down"></i>
</div>

<!-- Formation Planisware -->
<section id="formation" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-youtube-play fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green wow fadeIn">Planisware Training</h1>
                </div>
                <p class="wow fadeIn">With your collaboration, we will be able to develop a customized curriculum to match your processes and the methods to achieve it. Tyneo Consulting can provide specific training for different user populations, spanning from project manager to resource administrator or even support teams.</p>
				<ul class="list-unstyled fa-ul">
					<li><i class="fa-li fa fa-eye text-blue"></i> <a href="training/planisware_getting_started.html">First steps with Planisware</a></li>
					<li><i class="fa-li fa fa-user text-blue"></i> <a href="training/planisware_mod_pm.html">Project management with Planisware</a></li>
					<li><i class="fa-li fa fa-cog text-blue"></i> <a href="training/planisware_admin.html">Planisware configuration and administration</a></li>
					<li><i class="fa-li fa fa-cogs text-blue"></i> <a href="training/planisware_integrator.html">Configuring Planisware</a></li>
					<li><i class="fa-li fa fa-code text-blue"></i> <a href="training/planisware_learn_ojs.html">Mastering the Planisware script language</a></li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="block block-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>A Project, an Idea? Contact Us!</h3>
                <a href="#" class="btn btn-lg btn-light">+33 (0)9 72 32 28 28</a>
                <a href="about/contact.html" class="btn btn-lg btn-dark">contact@tyneo-consulting.fr</a>
            </div>
        </div>
    </div>
</aside>


<!-- -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<h3 class="size-20">Why Tyneo Consulting?</h3>
				<ul class="list-unstyled">
				    <!--<li><i class="fa fa-check"></i> Nos sommes <a href="https://fr.planisware.com/les-partenaires-planisware">Partenaire Planisware</a>,</li>-->
					<li><i class="fa fa-check"></i> Our knowledge of the tools to design feasible specifications,</li>
					<li><i class="fa fa-check"></i> The use of adapted methodologies that integrate the specific problems of Performance,</li>
					<li><i class="fa fa-check"></i> Revenue methodologies specifically designed for Planisware,</li>
					<li><i class="fa fa-check"></i> An ability to accompany clients on version migrations in compliance with publisher recommendations.</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h3 class="size-20 text-center">What our Clients Have to Say...</h3>
				<ul class="row clearfix testimonial-dotted list-unstyled">
					<li class="col-md-6">
						<div class="testimonial">
							<div class="testimonial-content">
								<p>« I have worked with [Samuel, Tyneo consultant] on a project aimed at implementing Planisware (Portfolio and Project Management Application) throughout the whole Vattenfall organisation. <a class="btn btn-link" data-toggle="collapse" data-target="#testimonial-more-1">Voir plus...</a></p><p class="collapse" id="testimonial-more-1">In this project he really displayed his in-depth knowledge and expertise on Planisware as well as his always friendly attitude towards everybody involved in the project. Working with [Samuel, Tyneo consultant] was a true pleasure... »</p>
								<cite>
									Paul Zitman, <span>Vattenfall</span>
								</cite>
							</div>
						</div>
					</li>
					<li class="col-md-6">
						<div class="testimonial">
							<div class="testimonial-content">
								<p>« Very dense yet highly comprehensive. Many examples and exercises. Provides us with many improvement leads on business issues. Feeling of confidence in daily use. »</p>
								<cite>
									Olivier Clery, <span>à propos de la formation Planisware</span>
								</cite>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<script type="text/javascript">
$(document).ready(function(){
    for(var i=1; i<=4; i++) {
        var img = new Image();
		img.src = 'images/project-'+i+'.jpg';
    }
    var image_index = 0;
    function changeProjectPageBackgound() {
        var image = ++image_index > 4 ? (image_index=1) : image_index;
        var el =  $('.header-project');
         el.fadeOut(500, function () {
             el.css('background-image', 'url("/images/project-' + image +'.jpg")');
             el.fadeIn(500);
        });
    }
    changeProjectPageBackgound();
    setInterval(changeProjectPageBackgound, 8000);
});
</script>
