layout: about
title: Contact
description: Merci de nous avoir contacté
keywords: contact, tyneo
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Contactez-nous</h2>
        <p class="lead wow fadeIn">Votre message nous a bien été envoyé. Merci</p>
    </div>
</div>
<!-- /.row -->
