layout: events
scope: A propos
title: Evenements et publications
description: Tyneo participe activement à de nombreux évènements tout au long de l'année, en voici la liste.
keywords: évènement, tyneo, contact, publication
og_type: website
---
<div class="row">
    <h2 class="text-rosy">Evenements et publications</h2>
    <p>Tyneo participe activement à de nombreux évènements tout au long de l'année. Vous souhaitez partager avec nous vos problématiques PPM / EPM ou RM ? Prenons contact et essayons de profiter de ces évenements pour échanger.</p>
</div>