layout: about
title: Contact
description: Merci de nous avoir contacté
keywords: contact, tyneo
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Souscrivez à notre lettre d'information</h2>
        <p class="lead wow fadeIn">Merci, votre abonnement a bien été pris en compte !</p>
    </div>
</div>
<!-- /.row -->
