<section id="who_we_are" class="who_we_are">
    <div class="container">
        <div class="col-sm-8 col-md-9">
             <%- page.content %>
        </div>

        <%- partial('_partial/sidemenu', {scope: 'about', item: theme.submenu.about}) %>
    </div><!-- /.container -->
</section>