<!-- Archive List -->
<%- partial('_partial/blogbanner') %>
<section id="archive_list">
<div class="container">
	<div class="col-sm-8 col-md-9 post">
		<div class="row">
			<h2 itemprop="name" class="text-rosy wow fadeIn">Blog Tyneo</h2>
			<% page.posts.each(function(post){ %>
				<%- partial('_partial/archive-entry', {post: post, index: true}) %>
			<% }) %>
			<%- partial('_partial/pagination') %>
		</div><!-- /.row -->
	</div><!-- /.post -->
	<div class="col-sm-4 col-md-3 sidebar">
		<%- partial('_partial/sidebar') %>
	</div><!-- /.sidebar -->
</div><!-- /.container -->
</section>