<section id="who_we_are" class="who_we_are">
    <div class="container">
        <div class="col-sm-8 col-md-9">
             <%- page.content %>
             <%- partial('_partial/team', {team: site.data.team}) %>
        </div>

        <%- partial('_partial/sidemenu', {item: theme.submenu.company}) %>
    </div><!-- /.container -->
</section>