layout: about
title: Skontaktuj się z nami!
description: Dziękujemy za skontaktowanie się z nami
keywords: kontakt, tyneo
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Skontaktuj się z nami!</h2>
        <p class="lead wow fadeIn">Dziękujemy za skontaktowanie się z nami</p>
    </div>
</div>
<!-- /.row -->
