layout: about
title: Contactez-nous
description: Vous désirez entrer en contact avec nous pour discuter de nos expériences, de nos compétences ou de nos équipes ? Vous souhaitez en savoir plus sur l'une de nos offres commerciales ?
keywords: contact, tyneo, adresse, téléphone, mail
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Contact Us</h2>
        <p class="lead wow fadeIn">Would you like to get in touch with us to discuss our experience, skills or teams? Would you like to know more about one of our commercial offers?</p>
    </div>
</div>
<!-- /.row -->
<div id='crmWebToEntityForm' class="contact_form" >

   <form class="validate" id="contact-widget-form-8262" action="/pl/about/contact_send.html" method="post" data-netlify="true">
     <input type="hidden" name="lang" value="pl" />
    <div class="form-group">
    	<label for="name">Name</label>
    	<input type="text" class="form-control" name="name"" id="name" placeholder="Name" maxlength="100">
  	</div>
    <div class="form-group">
    	<label for="company">Company</label>
    	<input type="text" class="form-control" name="company" id="company" placeholder="Company" maxlength="100">
  	</div>
  	<div class="form-group">
    	<label for="email">Email address</label>
    	<input type="email" class="form-control" name="email" id="email" placeholder="Email" maxlength="100">
  	</div>
  	<div class="form-group">
    	<label for="phone">Phone</label>
    	<input type="text" class="form-control" name="phone" id="phone" placeholder="" maxlength="30">
  	</div>
  	<div class="form-group">
    	<label for="message">Message</label>
    	<textarea name="message" id="message" class="form-control" rows="5"></textarea>
  	</div>
    <div data-netlify-recaptcha="true"></div>
    <input class="btn btn-rosy2" type="submit" value="Submit my contact request !" />
	
	</form>
</div>
