layout: about
title: O nas
description: Tyneo Consultin jest spółką doradczą skupioną głównie na instalowaniu narzędzi służących do zarządzania projektem oraz zarządzania wydatkami.
keywords: o, tyneo, informacja, społeczeństwo
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Kim jesteśmy ?</h2>
        <p class="lead wow fadeIn">Tyneo Consultin jest spółką doradczą skupioną głównie na instalowaniu narzędzi służących do zarządzania projektem oraz zarządzania wydatkami.<br/>
        Firma, której zaplecze socjalne znajduje się we Francji, posiada swoje biuro w Polsce – kraju, w którym zamierza rozwijać  swoją działaność – zwłaszcza w obrębie narzędzi Planisware.</p>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <p class="wow fadeIn">Tyneo Consultin towarzyszyć będzie Państwu w projektach integracji oraz ewolucji rozwiązań Planisware. Nasza znajomość produktów (programów) pozwoli Państwu na korzystanie z najlepszej ekspertyzy. Możemy także zaadaptować funkcje narzędzi Planisware zgodnie z Państwa potrzebami.</p>
    </div>
</div>

<h2 class="text-blue wow fadeIn">Zaufali nam</h2>
<p class="wow fadeIn">Od 2012 roku pracowaliśmy z najbardziej liczącymi się przedsiębiorstwami w następujących sektorach :
motoryzacja, obrona, energetyka, inżynieria, doradztwo, IT.</p>
<div class="references">
<div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/dalkia.png" alt="Dalkia (Groupe EDF)" /></div>
  <div class="col-md-4"><img src="/images/references/edenred.png" alt="Edenred" /></div>
  <div class="col-md-4"><img src="/images/references/erdf.png" alt="ErDF" /></div>
</div><div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/michelin.png" alt="Michelin" /></div>
  <div class="col-md-4"><img src="/images/references/microfocus.png" alt="Microfocus" /></div>
  <div class="col-md-4"><img src="/images/references/min_def.png" alt="Ministère de la défense" /></div>
</div><div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/nuon.png" alt="Nuon" /></div>
  <div class="col-md-4"><img src="/images/references/renault.png" alt="Renault" /></div>
  <div class="col-md-4"><img src="/images/references/sanofi.png" alt="Sanofi" /></div>
</div><div class="row top-padding-s bottom-buffer">
  <div class="col-md-4"><img src="/images/references/sncf.png" alt="SNCF" /></div>
  <div class="col-md-4"><img src="/images/references/vattenfall.png" alt="Vattenfall" /></div>
  <div class="col-md-4"><img src="/images/references/vix.png" alt="Vix" /></div>
</div>
<hr class=""/>
<div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/atos.png" alt="ATOS" /></div>
  <div class="col-md-4"><img src="/images/references/cgi.png" alt="CGI" /></div>
  <div class="col-md-4"><img src="/images/references/compliance_consulting.png" alt="Compliance Consulting" /></div>
</div><div class="row top-padding-s bottom-buffer">
  <div class="col-md-4"> </div>
  <div class="col-md-4"><img src="/images/references/sopra.png" alt="SOPRA" /></div>
</div>
</div>
