<!-- Post List -->
<% if (site.posts.length){ %>
<div class="col-md-3">
	<h4 class="letter-spacing-1"><%= __('layout.footer.blog') %></h4>
	<ul class="footer-posts list-unstyled" lang="fr">
		<% site.posts.sort('date', -1).limit(4).each(function(post){ %>
		<li>
			<a href="<%- url_for(post.path) %>" class="post-title"><%= post.title || __('untitled_post') %>
			- <small><%= date(post.date) %></small></a>
		</li>
		<% }) %>
	</ul>
</div>
<% } %>
