layout: about
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Qui sommes-nous ?</h2>
        <p class="lead wow fadeIn">Tyneo Consulting est une société de conseil axée principalement sur la mise en place d’outils de gestion de projets et de gestion des exigences.</p>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <p class="wow fadeIn">Nous sommes profondément attachés aux technologies de l'information, mais notre passion est l'amélioration des processus de nos clients. En collaboration avec nos partenaires clients et fournisseurs, nous mettons en œuvre des solutions adaptées et paramétrées selon les besoins des organisations dans une démarche durable.</p>
        <p class="wow fadeIn">Notre culture est fondée sur trois valeurs essentielles qui caractérisent tout ce que nous faisons : L’esprit d'équipe, l’innovation et une démarche durable.</p>
    </div>
</div>

<aside class="block block-blue">
        <h3 class="title wow fadeIn">Notre esprit d'équipe</h3>
        <p class="wow fadeIn">Nous aimons collaborer avec enthousiaste avec tous nos partenaires, qu’ils soient collaborateurs, clients ou fournisseurs. Notre objectif est de réussir les défis qui nous sont proposés et pour cela, il nous parait essentiel d’avancer, ensemble, et dans la même direction.</p>
</aside>

<aside class="block block-rosy">
    <h3 class="title wow fadeIn">L’innovation</h3>
    <p class="wow fadeIn">Du Conseil mais pas que. Tyneo Consulting n’est pas seulement un cabinet de conseil. Au-delà de notre offre de Conseil, nous aimons partager notre savoir, créer et innover, c’est pour cela que dès les origines de la société nous avons créé notre centre de formation et développé notre lab'tech pour étudier, tester et lancer des produits innovants.</p>
</aside>


<aside class="block block-green">
    <h3 class="title wow fadeIn">Une démarche durable</h3>
    <p class="wow fadeIn">Nous nous engageons à proposer les meilleures solutions, en respectant les bonnes pratiques, dans une optique durable. Ce que nous faisons aujourd’hui, nous souhaitons qu’il puisse évoluer demain, qu’il soit compréhensible et maintenable par d’autres au besoin.</p>
</aside>

<h2 class="text-blue wow fadeIn">Ils nous ont fait confiance</h2>

<img src="../images/references/compliance_consulting.png" alt="Compliance Consulting" />
<img src="../images/references/dalkia.png" alt="Dalkia (Groupe EDF)" />
<img src="../images/references/edenred.png" alt="Edenred" />
<img src="../images/references/erdf.png" alt="ErDF" />
<img src="../images/references/michelin.png" alt="Michelin" />
<img src="../images/references/microfocus.png" alt="Microfocus" />
<img src="../images/references/min_def.png" alt="Ministère de la défense" />
<img src="../images/references/nuon.png" alt="Nuon" />
<img src="../images/references/renault.png" alt="Renault" />
<img src="../images/references/sncf.png" alt="SCNF" />
<img src="../images/references/sopra.png" alt="SOPRA" />
<img src="../images/references/vattenfall.png" alt="Vattenfall" />
<img src="../images/references/vix.png" alt="Vix" />