layout: simple
title: Conseil et expertise outils PMO
description: Nous sommes spécialisés dans l'implémentation des outils de gestion de projets d'Entreprise, de gestion de portefeuille projets tel que Planisware et de gestion des exigences.
keywords: planisware, opx2, caliber, ireb, borland, exigence, projet, gestion, intégrateur, ppm, epm, formation
og_type: website
---
<!-- Header -->
<header id="top" class="header header-welcome">
    <div class="text-vertical-center">
        <div class="opacity-green bottom-buffer">
          <h1 class="text-white">Conseil et expertise outils PMO</h1>
        </div>
        <a href="#about" class="btn btn-rosy2 btn-lg wow slideInUp">Découvrez nos services...</a>
    </div>
</header>

<!-- Who we are ? -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead wow fadeIn">
				Nous sommes spécialisés dans l'implémentation des outils de gestion de projets et de portefeuilles de projets (EPM/PPM), ainsi que les outils de gestion des exigences (RM).
				Nos consultants ont implémentés ces solutions avec succès dans des grandes entreprises du secteur automobile, de la défense, de l’énergie, de l’ingénierie, du conseil ou de l’IT.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section class="services">
    <div class="container">
          <div class="row">
              <div class="col-md-6">
                <h2><span class="text-rosy">Outils de </span><span class="text-green">gestion de  portefeuille projets</span></h2>
              	<p>Consultants experts sur l'outil de gestion de  portefeuille projets EPM et PPM Planisware, nous vous accompagnons dans votre projet d'intégration et d'évolution autour de cette solution.</p>
              	<p><a class="btn btn-rosy" href="epm-ppm-solutions.html" role="button">Notre offre de service <em>#Planisware</em> &raquo;</a></p>
              </div>

              <div class="col-md-6">
                <h2><span class="text-green">Solutions de </span><span class="text-rosy">gestion des exigences</span></h2>
              	<p>Intégrateur de différentes solutions logicielles RM, nous vous conseillons et vous assistons tout au long de vos projets d’ingénierie des exigences.</p>
              	<p><a class="btn btn-rosy" href="rmt-solutions.html" role="button">Notre offre de service <em>#RMT</em> &raquo;</a></p>
              </div>
          </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="block block-blue buffer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Un projet, une idée ? Contactez-nous !</h3>
                <a href="#" class="btn btn-lg btn-light">+33 (0)9 72 32 28 28</a>
                <a href="about/contact.html" class="btn btn-lg btn-dark">contact@tyneo-consulting.fr</a>
            </div>
        </div>
    </div>
</aside>

<aside class="block block-green">
<h3 class="title wow fadeIn">Pour les équipes agiles, nous avons créé <strong>Umbreon</strong></h3>
<p class="wow fadeIn">Umbreon aide les équipes agiles et leurs Scrum Masters à mener leurs rétrospectives de fin de sprint. En proposant des activités ludiques et dynamiques, Umbreon favorise l'émergence d'actions d'amélioration continue.<br/>
    <a class="hover-big" href="https://umbreon.io/fr">Animer des rétrospectives avec Umbreon</a><br/>
    <a class="hover-big" href="https://app.umbreon.io/gallery/retrospective">Modèles de rétrospectives agiles</a>
</p>
</aside>
