layout: simple
---

<section id="who_we_are" class="who_we_are">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-rosy">Mentions légales</h2>
            </div>
        </div>
        <!-- /.row -->
        
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tilte">Editeur</h3>
                <p>Ce site est édité par la société Tyneo Consulting, 12, rue des Bleuets 94600 Choisy Le Roi, France.</p>
                <p>Tyneo Consulting est une société à responsabilité limitée au capital de 5 000,00 Euros - 788 450 393 RCS Créteil</p>
                <p></p>Responsable de publication : Samuel Kauffmann</p>
            </div>
        </div>
        <!-- /.row -->
  
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tilte">Hébergeur</h3>
                <p>Ce site est hébergé par la société OVH SAS, 2, rue Kellermann 59100 Roubaix, France.</p>
            </div>
        </div>
        <!-- /.row -->  
  
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tilte">Droits d'auteurs</h3>
                <p>Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la reproduction et la consultation individuelles et privées sont interdites.</p>
            </div>
        </div>
        <!-- /.row -->    
        
        
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tilte">Responsabilité</h3>
 
                <p>Ce site fait référence à l'aide de liens hypertextes à d'autre site Internet. N'étant pas éditeur de ces dits sites, la société Tyneo Consulting ne peut être tenu pour responsable de la mise à disposition de ces sites et sources externes, et ne peut supporter la responsabilité quant aux contenus créés ou publiés sur ces sites tiers.</p>
            </div>
        </div>
        <!-- /.row -->   
        
        <div class="row">
            <div class="col-lg-12">
                <h3 class="tilte">Réserve de fiabilité et de garantie</h3>
                <p>Bien que nous ayons pris grand soin dans la qualité et la fiabilité des informations contenues sur ce site, nous ne pourrions être tenu responsable des éventuels dommages causés par celles-ci.</p>
            </div>
        </div>
        <!-- /.row -->   
    </div>
    <!-- /.container -->
</section>