layout: simple
---
<section>
	<div id="" class="row">
		<h1>Conseils et Intégration des solutions Planisware</h1>
		<h2 class="acenter">une accorche qui déchire ! Découvrez notre offre Planisware.</h2>
	</div>

	<div class="row block block-blue">
		<div class="col-md-8">
			<article>
				<header>
					<h2>Accompagnement à la mise en œuvre de projet</h2>
				</header>
				
						<p>
							La mise en œuvre d'une solution outillée de gestion de portefeuille projet telle que Planisware est une démarche structurante et critique. <br/>
							Les choix fait à cette l'étape clé peuvent conditionner le succès de votre projet (cadrage du besoin, coût du projet, tenu des délais, adhérence des utilisateurs, dette technique, etc…)<br/>
							Pour piloter, cadrer et spécifier les adaptations nécessaires et relatives aux processus de votre entreprise, Tyneo consulting à formaliser une démarche à la fois simple et respectueuse des recommandations de l'éditeur. Cette démarche proposée par nos consultants apporte le cadre nécessaire à tout projet d’implémentation de la solution Planisware.
						</p>
			</article>
		</div>
		<div class="col-md-4">X</div>
	</div>	
	
	<div class="block block-grey">
		<h1>Intégration des solutions Planisware</h1>
		<h2 class="acenter">Tyneo Consulting vous accompagne dans vos projets d'intégration et d'évolutions des solutions <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>. Nos connaissances du produit vous permettront de bénéficier de la meilleure expertise et nous pourrons ainsi adapter les fonctionnalités de l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> à vos besoins.</h2>
	</div>
	<div class="row">
		<div class="col-md-4">X</div>
		<div class="col-md-8">
			<article>
				<header>
					<h2>Paramétrage et développement</h2>
				</header>
				<h3>Paramétrage et développement</h3>
				<p>Bien que la solution Planisware soit très complète, il reste nécessaire de l’adapter afin qu’elle s’intègre parfaitement au sein de votre système d’information et qu’elle réponde à vos processus et vos besoins. Dans ce cadre, nos compétences et notre expérience dans le paramétrage et le développement <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">OPX2</a> vous permettront de répondre à cette problématique.</p>
				
				<a class="detail">Quelques exemples de réalisations...</a>
				<ul class="detail" style="display:none">
					<li>Un tableau de bord à destination des gouvernances locales permettant d’observer les anomalies de planification liées aux adhérences des projets.</li>
					<li>Une interface avec un outil gérant la disponibilité des bancs de tests en fonction de la
					roadmap des projets. (Traitement de nuits OPX2, fichiers d’export)</li>
					<li>Un prototype pour gérer des versions des plannings de projets OPX2.</li>
					<li>Un traitement de planification automatique des projets en fonction de règles de gestion.</li>
					<li>L’authentification automatique à l’Intranet Server et TimeCard basée sur l’annuaire LDAP de
					l’entreprise.</li>
					<li>Un outil de gouvernance sur Intranet Server délocalisé sur une machine secondaire afin de ne pas impacter les performances de l’instance principale.</li>
				</ul>

				<h3>Développement autour de Planisware</h3>
				<p>Les connaissances des divers langages de programmation (JAVA, .NET, VBA et PHP) des consultants Tyneo Consulting, nous permettront de vous proposer des solutions optimisées allant au-delà de celles proposées par <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>.</p>
				<a class="detail">Quelques exemples de réalisations...</a>
				<ul class="detail"  style="display:none">
					<li>Une application intranet permettant de créer et consulter des projets, des tâches et faire des
					affectations en utilisant les dernières technologies web 2.0 (.NET, Ajax, WebServices OPX2,
					SQL)</li>
					<li>Un document Word permettant de réaliser des devis de contrat en fonction des montants
					budgétés sur un projet (VBA , WebServices OPX2)</li>
					<li>Un reporting Excel permettant de visualiser les personnes n’ayant pas imputé leurs activités de la semaine (JAVA, SQL)</li>
				</ul>
			</article>
		</div>
	</div>	
	<aside class="infobox green">
		<h3 class="title">Un engagement durable</h3>
<p>Nos consultants s’efforcent à proposer les solutions les plus standards afin de s’assurer de la maintenabilité évolutive de l’application Planisware ainsi que de la standardisation des méthodes de travail. 
Pour cela, nous nous appuyons sur les recommandations officielles de l’éditeur publiées dans son livre blanc « Best Practices for Planisware 5 » ainsi que des bonnes pratiques internes construites par le biais des expériences passées de nos consultants.
Si l’une de nos propositions devait s’écartée du standard de l’éditeur, nous saurions la justifier et démontrer que nous avons étudié l’ensemble des pistes se rapprochant le plus du standard Planisware.</p>
	</aside>
	
	<div class="row">
		<div class="col-md-8">
			<article>
				<header>
					<h2>Performance & Fiabilité Planisware</h2>
				</header>
				
						<p>
							La mise en œuvre d'une solution outillée de gestion de portefeuille projet telle que Planisware est une démarche structurante et critique. <br/>
							Les choix fait à cette l'étape clé peuvent conditionner le succès de votre projet (cadrage du besoin, coût du projet, tenu des délais, adhérence des utilisateurs, dette technique, etc…)<br/>
							Pour piloter, cadrer et spécifier les adaptations nécessaires et relatives aux processus de votre entreprise, Tyneo consulting à formaliser une démarche à la fois simple et respectueuse des recommandations de l'éditeur. Cette démarche proposée par nos consultants apporte le cadre nécessaire à tout projet d’implémentation de la solution Planisware.
						</p>
			</article>
		</div>
		<div class="col-md-4"><img width="35%" height="35%" src="http://www.tyneo-consulting.fr/files/fotolia_66661534.jpg"/></div>
	</div>	
	

	<article class="exploitation">
		<header>
			<h2>Maintenance & exploitation Planisware</h2>
		</header>
		<p>
			<img src="http://www.tyneo-consulting.fr/img/exploitation.png" style="float:left; margin-right:20px"/>
			Vous disposez déjà des outils <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> au sein de votre entreprise ? Tyneo Consulting peut assurer les tâches de support fonctionnel ou technique. Nos compétences multiples nous permettent d’intervenir sur de nombreux aspects liés à l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware/OPX2</a> ou à l’écosystème environnant (base de données Oracle, serveur Windows ou Linux, Apache, IIS ...) et de proposer des améliorations autour de ces activités.		</p>
		<a class="detail">Quelques exemples de réalisations...</a>
		<ul class="detail">
			<li>Support utilisateur niveau 1 sur l’outil de planification de l’entreprise</li>
			<li>Mise en place et rédaction de procédures de maintenance et d’exploitation de l’outil</li>
			<li>Automatisation de tâches de support</li>
			<li>Optimisation des performances de l’application Intranet Server</li>
			<li>Proprification des données de l’application (résolution de messages d’erreur et d’anomalies du
			référentiel)</li>
			<li>Extractions ponctuelles de données depuis l'outil OPX2 ou en base.</li>
			<li>Analyse et correction d’erreurs OPX2</li>
		</ul>
	</article>
	<article class="formation">
		<header>
			<h2>Formation Planisware</h2>
		</header>
		<p>
			<img src="http://www.tyneo-consulting.fr/img/formation.png" style="float:left; margin-right:20px"/>
			Avec votre collaboration, nous allons pouvoir élaborer un cursus personnalisé mettant en adéquation vos processus et les méthodes pour y arriver. Tyneo Consulting peut dispenser des formations spécifiques à destination des différentes populations d'utilisateur, du chef de projet à l'administrateur de ressource ou les équipes support.		</p>
		<a class="detail">Quelques exemples de réalisations...</a>
		<ul class="detail">
			<li>Rédaction de support de formation liées aux processus de l’entreprise à l’outil</li>
			<li>Formations spécifiques au métier de chaque type d'utilisateur (gestionnaires de ressources, chefs
			de projets et directeurs de programmes)</li>
			<li>Elaboration de manuels ou d’aide utilisateur en ligne</li>
		</ul>
	</article>
	<article class="why_us">
		<header>
			<h2>Pourquoi Tyneo Consulting ?</h2>
		</header>
		<ul class="">
			<li>Notre connaissance des outils pour concevoir des spécifications réalisables,</li>
			<li>L’emploi de méthodologies adaptées intégrant les problématiques spécifiques de Performance,</li>
			<li>Des méthodologies de recettes spécifiquement conçues pour Planisware, </li>
			<li>Une capacité à accompagner les clients sur les migrations de versions dans le respect des recommandations de l’éditeur.</li>
		</ul>
	</article>
</section>