layout: simple
---
<section class="resume opx2">
	<article class="integration">
		<header>
			<h2>Intégration des solutions Planisware</h2>
		</header>
		<img src="http://www.tyneo-consulting.fr/img/integration.png" style="float:left; margin-right:20px"/>
		<p class="h2">
			Tyneo Consulting vous accompagne dans vos projets d'intégration et d'évolutions des solutions <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>. Nos connaissances du produit vous permettront de bénéficier de la meilleure expertise et nous pourrons ainsi adapter les fonctionnalités de l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> à vos besoins.		</p>
		<ul class="subarticle">
			<li>
				<h3>Paramétrage et développement</h3>
				<p>Bien que la solution Planisware soit très complète, il reste nécessaire de l’adapter afin qu’elle s’intègre parfaitement au sein de votre système d’information et qu’elle réponde à vos processus et vos besoins. Dans ce cadre, nos compétences et notre expérience dans le paramétrage et le développement <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">OPX2</a> vous permettront de répondre à cette problématique.</p>

				<a class="detail">Quelques exemples de réalisations...</a>
				<ul class="detail">
					<li>Un tableau de bord à destination des gouvernances locales permettant d’observer les anomalies de planification liées aux adhérences des projets.</li>
					<li>Une interface avec un outil gérant la disponibilité des bancs de tests en fonction de la
					roadmap des projets. (Traitement de nuits OPX2, fichiers d’export)</li>
					<li>Un prototype pour gérer des versions des plannings de projets OPX2.</li>
					<li>Un traitement de planification automatique des projets en fonction de règles de gestion.</li>
					<li>L’authentification automatique à l’Intranet Server et TimeCard basée sur l’annuaire LDAP de
					l’entreprise.</li>
					<li>Un outil de gouvernance sur Intranet Server délocalisé sur une machine secondaire afin de ne pas impacter les performances de l’instance principale.</li>
				</ul>
			</li>
			<li>
				<h3>Développement autour de Planisware</h3>
				<p>Les connaissances des divers langages de programmation (JAVA, .NET, VBA et PHP) des consultants Tyneo Consulting, nous permettront de vous proposer des solutions optimisées allant au-delà de celles proposées par <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>.</p>
				<a class="detail">Quelques exemples de réalisations...</a>
				<ul class="detail">
					<li>Une application intranet permettant de créer et consulter des projets, des tâches et faire des
					affectations en utilisant les dernières technologies web 2.0 (.NET, Ajax, WebServices OPX2,
					SQL)</li>
					<li>Un document Word permettant de réaliser des devis de contrat en fonction des montants
					budgétés sur un projet (VBA , WebServices OPX2)</li>
					<li>Un reporting Excel permettant de visualiser les personnes n’ayant pas imputé leurs activités de la semaine (JAVA, SQL)</li>
				</ul>
			</li>
		</ul>
	</article>
	<aside class="infobox green">
		<h3 class="title">Un engagement durable</h3>
<p>Nos consultants s’efforcent à proposer les solutions les plus standards afin de s’assurer de la maintenabilité évolutive de l’application Planisware ainsi que de la standardisation des méthodes de travail.
Pour cela, nous nous appuyons sur les recommandations officielles de l’éditeur publiées dans son livre blanc « Best Practices for Planisware 5 » ainsi que des bonnes pratiques internes construites par le biais des expériences passées de nos consultants.
Si l’une de nos propositions devait s’écartée du standard de l’éditeur, nous saurions la justifier et démontrer que nous avons étudié l’ensemble des pistes se rapprochant le plus du standard Planisware.</p>
	</aside>
	<div class="separator"> </div>
	<article class="exploitation">
		<header>
			<h2>Maintenance & exploitation Planisware</h2>
		</header>
		<p>
			<img src="http://www.tyneo-consulting.fr/img/exploitation.png" style="float:left; margin-right:20px"/>
			Vous disposez déjà des outils <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> au sein de votre entreprise ? Tyneo Consulting peut assurer les tâches de support fonctionnel ou technique. Nos compétences multiples nous permettent d’intervenir sur de nombreux aspects liés à l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware/OPX2</a> ou à l’écosystème environnant (base de données Oracle, serveur Windows ou Linux, Apache, IIS ...) et de proposer des améliorations autour de ces activités.		</p>
		<a class="detail">Quelques exemples de réalisations...</a>
		<ul class="detail">
			<li>Support utilisateur niveau 1 sur l’outil de planification de l’entreprise</li>
			<li>Mise en place et rédaction de procédures de maintenance et d’exploitation de l’outil</li>
			<li>Automatisation de tâches de support</li>
			<li>Optimisation des performances de l’application Intranet Server</li>
			<li>Proprification des données de l’application (résolution de messages d’erreur et d’anomalies du
			référentiel)</li>
			<li>Extractions ponctuelles de données depuis l'outil OPX2 ou en base.</li>
			<li>Analyse et correction d’erreurs OPX2</li>
		</ul>
	</article>
	<div class="separator"> </div>
	<article class="formation">
		<header>
			<h2>Formation Planisware</h2>
		</header>
		<p>
			<img src="http://www.tyneo-consulting.fr/img/formation.png" style="float:left; margin-right:20px"/>
			Avec votre collaboration, nous allons pouvoir élaborer un cursus personnalisé mettant en adéquation vos processus et les méthodes pour y arriver. Tyneo Consulting peut dispenser des formations spécifiques à destination des différentes populations d'utilisateur, du chef de projet à l'administrateur de ressource ou les équipes support.		</p>
		<a class="detail">Quelques exemples de réalisations...</a>
		<ul class="detail">
			<li>Rédaction de support de formation liées aux processus de l’entreprise à l’outil</li>
			<li>Formations spécifiques au métier de chaque type d'utilisateur (gestionnaires de ressources, chefs
			de projets et directeurs de programmes)</li>
			<li>Elaboration de manuels ou d’aide utilisateur en ligne</li>
		</ul>
	</article>

	<div class="clear"> </div>

	<aside class="bloc">
		<h2 class="title">Nos formations Planisware</h2>
		<ul class="table-list">						<li><a href="http://www.tyneo-consulting.fr/fr/training/planisware_getting_started">1 - Débuter avec Planisware</a></li>
								<li><a href="http://www.tyneo-consulting.fr/fr/training/planisware_mod_pm">2 - Gérer son projet avec Planisware</a></li>
								<li><a href="http://www.tyneo-consulting.fr/fr/training/planisware_admin">3 - Configurer et administrer Planisware </a></li>
								<li><a href="http://www.tyneo-consulting.fr/fr/training/planisware_integrator">4 - Paramétrer Planisware </a></li>
								<li><a href="http://www.tyneo-consulting.fr/fr/training/planisware_learn_ojs">5 - Maîtriser le langage script Planisware</a></li>
			</ul>	</aside>

	<aside class="bloc">
		<h2 class="title">Nos ressources complémentaires</h2>
		<ul class="pictos">
			<li>
				<img src="/img/newspaper.png" alt="Blog Tyneo"/>
				<h3>Le blog Tyneo</h3>
				<p>Sur le blog Tyneo, nos consultants publient régulièrement leurs <a href="http://www.tyneo-consulting.fr/blog">astuces Planisware</a>.</p>
			</li>
			<li>
				<img src="/img/chrome.png" alt="PlaniSphere pour Chrome"/>
				<h3>PlaniSphere Links</h3>
				<p>Télécharger gratuitement notre <a href="http://lab.tyneo.net/planisphere/links/">plugin Planisware pour Chrome</a>.</p>
			</li>
		</ul>
	</aside>
</section>
