layout: simple
---
<!-- Header -->
<header id="top" class="header header-project">
    <div class="text-vertical-center">
        <h1 class="text-white">Gestion de projet</h1>
        <h3 class="text-white">Conseils et Intégration des solutions <strong>#Planisware</strong></h3>
        <br>
        <a href="#about" class="btn btn-rosy btn-lg wow slideInUp">Découvrez notre offre Planisware...</a>
    </div>
</header>


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">
				Tyneo Consulting vous accompagne dans vos projets d'intégration et d'évolutions des solutions <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>. Nos connaissances du produit vous permettront de bénéficier de la meilleure expertise et nous pourrons ainsi adapter les fonctionnalités de l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> à vos besoins.
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary">
    <div class="container mb10">
        <div class="row text-center bottom-buffer">
            <div class="">
                <h2>Notre offre de services <i>#Planisware</i></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-lg-offset-1 col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-users fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Accompagnement à la mise en œuvre</strong>
                            </h4>
                            <a href="#accompagnement" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Intégration des solutions Planisware</strong>
                            </h4>
                            <a href="#integration" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-rocket fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Performance & Fiabilité Planisware</strong>
                            </h4>
                            <a href="#performance" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Maintenance & exploitation Planisware</strong>
                            </h4>
                            <a href="#maintenance" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Formations Planisware</strong>
                            </h4>
                            <a href="#formation" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Accompagnement -->
<section id="accompagnement" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-rosy"></i>
                        <i class="fa fa-users fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-rosy">Accompagnement à la mise en œuvre</h1>
                </div>
                <p class="">
				La mise en œuvre d'une solution outillée de gestion de portefeuille projet telle que Planisware est une démarche structurante et critique.
				Les choix fait à cette l'étape clé peuvent conditionner le succès de votre projet (cadrage du besoin, coût du projet, tenu des délais, adhérence des utilisateurs, dette technique, etc…)<br/>
				Pour piloter, cadrer et spécifier les adaptations nécessaires et relatives aux processus de votre entreprise, Tyneo consulting a formalisé une démarche à la fois simple et respectueuse des recommandations de l'éditeur. Cette démarche proposée par nos consultants apporte le cadre nécessaire à tout projet d’implémentation de la solution Planisware.
                </p>
                <div class="text-center"><img src="images/project_cycle.png"/></div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div class="divider divider-center divider-green">
	<i class="fa fa-chevron-down"></i>
</div>


<!-- Accompagnement -->
<section id="integration" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-flask fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green">Intégration des solutions Planisware</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    	<p>Bien que la solution Planisware soit très complète, il reste nécessaire de l’adapter afin qu’elle s’intègre parfaitement au sein de votre système d’information et qu’elle réponde à vos processus et vos besoins. Dans ce cadre, nos compétences et notre expérience dans le paramétrage et le développement <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a> vous permettront de répondre à cette problématique.</p>
                    </div>
                    
                    <div class="col-md-6">
                    	<p>Les connaissances des divers langages de programmation (JAVA, .NET, VBA et PHP) des consultants Tyneo Consulting, nous permettront de vous proposer des solutions optimisées allant au-delà de celles proposées par <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware</a>.</p>
                    </div>
                </div>                
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>    
<aside class="block block-green">
	<h3 class="title">Un engagement <strong>durable</strong></h3>
<p>Nos consultants s’efforcent à proposer les solutions les plus standards afin de s’assurer de la maintenabilité évolutive de l’application Planisware ainsi que de la standardisation des méthodes de travail. 
Pour cela, nous nous appuyons sur les recommandations officielles de l’éditeur publiées dans son livre blanc « Best Practices for Planisware 5 » ainsi que des bonnes pratiques internes construites par le biais des expériences passées de nos consultants.
Si l’une de nos propositions devaient s’écartées du standard de l’éditeur, nous saurions la justifier et démontrer que nous avons étudié l’ensemble des pistes se rapprochant le plus du standard Planisware.</p>
</aside> 

<!-- Performance & Fiabilité Planisware -->
<section id="performance" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-rocket fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-blue">Performance & Fiabilité Planisware</h1>
                </div>
                <p>Tyneo intervient dans l'optimisation des performances et la fiabilisation de votre architecture Planisware. Lors de ces missions d'audit, nous sommes amenés à prendre en considération de nombreux aspects :</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-check text-green"></i> Architecture Planisware (système, patchs, applet Java/Ajax, fichiers communs/environnements, segmentation, etc..),</li>
					<li><i class="fa fa-check text-green"></i> Transactions utilisateurs (poste client, navigateur, réseau, etc..),</li>
					<li><i class="fa fa-check text-green"></i> Messages d'erreur des journaux applicatifs (logs),</li>
					<li><i class="fa fa-check text-green"></i> Référentiel (organisation des données, anomalies de données -objets inconnus-, etc..),</li>
					<li><i class="fa fa-check text-green"></i> Base de données (requêtes SQL, MPD, indexation des champs, etc..),</li>
					<li><i class="fa fa-check text-green"></i> Logs et outils de monitoring (transactions longues, recalcul des coûts, etc..),</li>
					<li><i class="fa fa-check text-green"></i> Planisware Replay (tests de non régression).</li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>    


<aside class="block block-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>PlaniSphère Links for Chrome</h3>
                <p><a href="http://lab.tyneo.net/planisphere/links"><strong>PlaniSphere Links</strong></a> permet d'obtenir en un clic l'ensemble des liens nécessaires pour administrer une instance Planisware. <em>Made by Tyneo</em></p>
            </div>
        </div>
    </div>
</aside>
    

<!-- Maintenance & exploitation Planisware -->
<section id="maintenance" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-rosy"></i>
                        <i class="fa fa-shield fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-rosy">Maintenance & exploitation Planisware</h1>
                </div>
                <p>Vous disposez déjà des outils <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware OPX2</a> au sein de votre entreprise ? Tyneo Consulting peut assurer les tâches de support fonctionnel ou technique. Nos compétences multiples nous permettent d’intervenir sur de nombreux aspects liés à l’outil <a class="about" href="http://www.tyneo-consulting.fr/fr/about/planisware.html">Planisware/OPX2</a> ou à l’écosystème environnant (base de données Oracle/PostegreSQL/SQL Server, serveur Windows ou Linux, Apache, IIS ...) et de proposer des améliorations autour de ces activités.</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4"><img alt="Courbes d'évolution de l'usage des licences Planisware (TimeCard et Intranet)" src="images/project-maint-1.png"/></div>
          <div class="col-md-4"><img alt="Vérification du référentiel Planisware / Alerte indisponibilité des services Intranet et TimeCard" src="images/project-maint-2.png"/></div>
          <div class="col-md-4"><img alt="Tableau de bord permetant de contrôler le bon déroulement des traitements de nuit Planisware" src="images/project-maint-3.png"/></div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>       

<div class="divider divider-center divider-green">
	<i class="fa fa-chevron-down"></i>
</div>

<!-- Formation Planisware -->
<section id="formation" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-youtube-play fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green">Formation Planisware</h1>
                </div>
                <p>Avec votre collaboration, nous allons pouvoir élaborer un cursus personnalisé mettant en adéquation vos processus et les méthodes pour y arriver. Tyneo Consulting peut dispenser des formations spécifiques à destination des différentes populations d'utilisateur, du chef de projet à l'administrateur de ressource ou les équipes support.</p>
				<ul class="list-unstyled fa-ul">
					<li><i class="fa-li fa fa-eye text-blue"></i> <a href="">Débuter avec Planisware</a></li>
					<li><i class="fa-li fa fa-user text-blue"></i> <a href="">Gérer son projet avec Planisware</a></li>
					<li><i class="fa-li fa fa-cog text-blue"></i> <a href="">Configurer et administrer Planisware</a></li>
					<li><i class="fa-li fa fa-cogs text-blue"></i> <a href="">Paramétrer Planisware</a></li>
					<li><i class="fa-li fa fa-code text-blue"></i> <a href="">Maîtriser le langage script Planisware</a></li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>      

<!-- Call to Action -->
<aside class="block block-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Un projet, une idée ? Contactez-nous !</h3>
                <a href="#" class="btn btn-lg btn-light">+33 (0)9 72 32 28 28</a>
                <a href="#" class="btn btn-lg btn-dark">contact@tyneo-consulting.fr</a>
            </div>
        </div>
    </div>
</aside>
    

<!-- -->
<section>
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<h3 class="size-20">Pourquoi Tyneo Consulting ?</h3>
				<ul class="list-unstyled">
				    <li><i class="fa fa-check"></i> Nos sommes <a href="https://fr.planisware.com/les-partenaires-planisware">Partenaire Planisware</a>,</li>
					<li><i class="fa fa-check"></i> Notre connaissance des outils pour concevoir des spécifications réalisables,</li>
					<li><i class="fa fa-check"></i> L’emploi de méthodologies adaptées intégrant les problématiques spécifiques de Performance,</li>
					<li><i class="fa fa-check"></i> Des méthodologies de recettes spécifiquement conçues pour Planisware,</li>
					<li><i class="fa fa-check"></i> Une capacité à accompagner les clients sur les migrations de versions dans le respect des recommandations de l’éditeur.</li>
				</ul>
			</div>

			<div class="col-md-6">
				<h3 class="size-20 text-center">Ce que disent nos clients...</h3>
				<ul class="row clearfix testimonial-dotted list-unstyled">
					<li class="col-md-6">
						<div class="testimonial">
							<div class="testimonial-content">
								<p>« I have worked with Samuel (Tyneo Consulting) on a project aimed at implementing Planisware (Portfolio and Project Management Application) throughout the whole Vattenfall organisation. <a class="btn btn-link" data-toggle="collapse" data-target="#testimonial-more-1">Voir plus...</a></p><p class="collapse" id="testimonial-more-1">In this project he really displayed his in-depth knowledge and expertise on Planisware as well as his always friendly attitude towards everybody involved in the project. Working with Samuel was a true pleasure... »</p>
								<cite>
									Paul Zitman, <span>Vattenfall</span>
								</cite>
							</div>
						</div>
					</li>
					<li class="col-md-6">
						<div class="testimonial">
							<div class="testimonial-content">
								<p>« Stage très dense mais très complet. Beaucoup d'exemples et d'exercices. Donne beaucoup de pistes d'améliorations sur des problèmes métiers. Sentiment de confiance dans l'utilisation quotidienne. »</p>
								<cite>
									Olivier Clery, <span>à propos de la formation Planisware</span>
								</cite>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- / -->

<script type="text/javascript">
$(document).ready(function(){
    for(var i=1; i<=4; i++) {
        var img = new Image();
		img.src = 'images/project-'+i+'.jpg';
    }
    var image_index = 0;
    function changeProjectPageBackgound() {
        var image = ++image_index > 4 ? (image_index=1) : image_index;
        var el =  $('.header-project');
         el.fadeOut(500, function () {
             el.css('background-image', 'url("images/project-' + image +'.jpg")');
             el.fadeIn(500);
        });
    }
    changeProjectPageBackgound();
    setInterval(changeProjectPageBackgound, 8000);
});
</script>