layout: simple
title: Intégration des outils de gestion des exigences
description: Tyneo vous aide dans le déploiement des solutions outillées de gestion des exigences. Nous travaillons avec différents éditeurs et sommes à même d'intervenir sur les meilleures solutions du marché.
keywords: exigence, outil, gestion, requirement, rmt, caliber
og_type: website
---
<!-- Header -->
<header id="top" class="header header-project">
    <div class="text-vertical-center">
        <h1 class="text-white">Gestion de exigences</h1>
        <h3 class="text-white">Intégration des outils de gestion des exigences <strong>#RMT</strong></h3>
        <br/>
        <a href="#about" class="btn btn-rosy btn-lg wow slideInUp">Découvrez notre offre...</a>
    </div>
</header>


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="wow fadeIn lead">
				Tyneo vous aide dans le déploiement des solutions outillées de gestion des exigences.
				Nous travaillons en étroite collaboration avec différents éditeurs et sommes à même d'intervenir sur les meilleures solutions du marché (<a href="tools/rmt/caliber.html">MicroFocus Caliber</a>, <a href="tools/rmt/polarion.html">Polarion</a>, <a href="tools/rmt">etc...</a>).
                </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<section id="services" class="services bg-primary">
    <div class="container mb10">
        <div class="row text-center bottom-buffer">
            <div class="">
                <h2>Notre offre de service <i>#RMT</i></h2>
                <hr class="small">
                <div class="row">
                    <div class="col-lg-offset-2 col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-hourglass-start fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Mise en place d'une gestion des exigences outillée</strong>
                            </h4>
                            <a href="#setup" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-magic fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Paramétrage & développement spécifique</strong>
                            </h4>
                            <a href="#configuration" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-ship fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Accompagnement au déploiement</strong>
                            </h4>
                            <a href="#deployment" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Formations aux outils RMT</strong>
                            </h4>
                            <a href="#training" class="btn btn-light">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Accompagnement -->
<section id="setup" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-rosy"></i>
                        <i class="fa fa-hourglass-start fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-rosy">Mise en place d'une gestion des exigences outillée</h1>
                </div>
                <p class="wow fadeIn">Tyneo intervient sur l'ensemble des phases constituants la mise en place d'un outil de gestion des exigences.
                Notre démarche structurée et formalisée nous permet d'accompagner nos clients dès la génèse du projet afin de les guider vers le choix de la solution de gestion des exigences la plus adaptée.
                </p>
                <ul class="list-unstyled wow fadeIn">
					<li><i class="fa fa-check text-rosy"></i> Audit / Etat des lieux</li>
					<li><i class="fa fa-check text-rosy"></i> Formalisation des besoins</li>
					<li><i class="fa fa-check text-rosy"></i> Constitution du RFP</li>
					<li><i class="fa fa-check text-rosy"></i> Identification et évaluation des solutions du marché</li>
					<li><i class="fa fa-check text-rosy"></i> Analyse / Évaluation des offres de prestation</li>
					<li><i class="fa fa-check text-rosy"></i> Aide à la sélection d'un éditeur</li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<blockquote class="block block-blue">
    <p class="wow fadeIn">
	« Requirements management can be simplified if initial requirements definitions are captured in a database-based tool to enable collaborative review... traceability and versioning/change control.»
    </p>
     <footer class="text-white wow fadeIn">Matt Light, <cite title="Research Director, Gartner">Research Director, Gartner</cite></footer>
</blockquote>

<!-- Accompagnement -->
<section id="configuration" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-magic fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green wow fadeIn">Paramétrage & développement spécifique</h1>
                </div>
                <div class="wow fadeIn">
                    <p>Lors de vos projets d'intégration des solutions de gestion des exigences, nous intervenons à vos côtés pour vous conseiller ou réaliser la conception, le prototypage et l'intégration de ces progiciels afin de répondre au mieux à vos processus et méthodes de travail.</p>
                    <p>Les compétences des consultants Tyneo sur les différents langages de programmation (.NET, JAVA, VBA et PHP) et des librairies de développement des éditeurs nous permettent de vous proposer des solutions pour étendre les fonctionnalités existantes des produits.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<aside class="block block-rosy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="wow fadeIn">Vous voulez en savoir plus sur les RMT <em>(<a href="tools/rmt"><strong>outils de gestion des exigences</strong></a>)</em> ?</h3>
                <p class="wow fadeIn">Découvrez régulièrement de nouveaux articles traitant de l'ingénierie des exigences et des outils de gestion des exigences sur notre <a href="http://tyneo-consulting.com/blog"><strong>blog Tyneo</strong></a>.</p>
            </div>
        </div>
    </div>
</aside>

<section id="deployment" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-blue"></i>
                        <i class="fa fa-ship fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-blue wow fadeIn">Accompagnement au déploiement</h1>
                </div>
                <p class="wow fadeIn">Le déploiement des processus de gestion des exigences et des outils est une démarche structurante. Structurante, car l'objectif de cette phase est l'adoption des processus et de la solution par l'ensemble des parties prenantes. Différents paramètres sont à prendre en compte tels que la population ciblée, les courbes d'apprentissage des utilisateurs, les pretextes de rejets, etc...</p>
                <p class="wow fadeIn">Pour oeuvrer au succès de votre projet de déploiement d'une solution de gestion des exigences, Tyneo vous aide à mener les activités suivantes :</p>
                <ul class="list-unstyled wow fadeIn">
					<li><i class="fa fa-check text-blue"></i> Cadrage du déploiement (diagnostic, étude d'impacts, etc...)</li>
					<li><i class="fa fa-check text-blue"></i> Définition de la stratégie de déploiement</li>
					<li><i class="fa fa-check text-blue"></i> Réalisation des supports de déploiement (communication, formation, manuel, livret, etc...)</li>
					<li><i class="fa fa-check text-blue"></i> Pilotage et animation du réseau de déploiement</li>
					<li><i class="fa fa-check text-blue"></i> Mise en oeuvre du plan de déploiement</li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<div class="divider divider-center divider-green">
	<i class="fa fa-chevron-down"></i>
</div>

<!-- Formation -->
<section id="training" class="accompagnement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-green"></i>
                        <i class="fa fa-youtube-play fa-stack-1x text-white"></i>
                    </span>
                	<h1 class="smallcaps text-green wow fadeIn">Formation</h1>
                </div>
                <p class="wow fadeIn">La formation des différentes populations de votre organisation utilisatrices de l'outil de gestion des exigences est indispensable pour le respect des bonnes pratiques d'ingéniérie des exigences. Chaque acteur, qu'il soit client, product owner, MOE, urbaniste, testeur, développeur, etc.. doit comprendre les implications d'un outil de gestion des exigences. Pour cela, nos formations sont toutes dispensées avec un parallèle systématique entre le cycle de vie des exigences, les bonnes pratiques d'ingéniere et les aspects outils.</p>
                <p class="wow fadeIn">Nous sommes en mesure de dispenser des formations spécifiques à votre entreprise sur différents outils de gestion des exigences du marché tout en prenant en considération les problématiques de votre choix (ex: gestion des exigences dans le cadre de l'utilisation d'une méthode agile, dans le cadre d'une réponse à appel d'offres, sur des problématiques métiers spécifiques, etc...)</p></a></li>
				<p class="wow fadeIn">Par ailleurs, Tyneo propose certaines formations sur catalogues en intra ou inter-entreprise :</p>
 				<ul class="list-unstyled fa-ul wow fadeIn">
					<li><i class="fa-li fa fa-check text-green"></i> <a href="training/caliber_requirement_management.html" class="text-green">Caliber et la gestion des exigences</a></li>
					<li><i class="fa-li fa fa-check text-green"></i> <a href="training/caliber_administrator.html" class="text-green">Administration de l'outil Caliber</a></li>
				</ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="block block-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Un projet, une idée ? Contactez-nous !</h3>
                <a href="#" class="btn btn-lg btn-light">+33 (0)9 72 32 28 28</a>
                <a href="about/contact.html" class="btn btn-lg btn-dark">contact@tyneo-consulting.fr</a>
            </div>
        </div>
    </div>
</aside>




<script type="text/javascript">
$(document).ready(function(){
    var el =  $('.header-project');
    el.css('background-image', 'url("/images/requirement-1.jpg")');
});
</script>
