layout: simple
---

<section id="who_we_are" class="who_we_are">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-rosy">L'équipe</h2>
            </div>

        
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img class="img-responsive" src="assets/images/demo/people/460x700/9-min.jpg" alt="" />
					<div class="caption">
						<h4 class="nomargin">Samuel Kauffmann</h4>
						<small class="margin-bottom-20 block">Consultant outils PPM et RM</small>

						<p>Depuis le début de sa carrière, Samuel s’est orienté sur des problématiques PMO autour de la gestion de projets, de la gestion de portefeuilles (PPM) et de la gestion des exigences (RM). Cette double compétence (PPM et RM) lui permet d’intervenir sur des projets variés et de participer à l’amélioration des processus. Ses connaissances fonctionnelles et techniques lui permettent d’assister ses clients sur de nombreuses aspects et tout au long de leurs projets.</p>
						<a href="https://twitter.com/samuelkauffmann" class="social-icon social-icon-sm social-icon-dark">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-twitter"></i>
						</a>
						<a href="https://fr.linkedin.com/in/samuelkauffmann" class="social-icon social-icon-border social-icon-dark">
							<i class="fa fa-linkedin"></i>
							<i class="fa fa-linkedin"></i>
						</a>
						<a href="https://github.com/skauffmann" class="social-icon social-icon-border social-icon-dark">
							<i class="fa fa-github"></i>
							<i class="fa fa-github"></i>
						</a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img class="img-responsive" src="assets/images/demo/people/460x700/9-min.jpg" alt="" />
					<div class="caption">
						<h4 class="nomargin">Jean-Luc Geffroy</h4>
						<small class="margin-bottom-20 block">Consultant Planisware</small>

						<p>Depuis près de dix ans, au travers de plusieurs missions pour différents clients, Jean-Luc s’est spécialisé sur le progiciel  Planisware, tout en capitalisant de nombreux acquis fonctionnels. Il intervient tout au long du processus d’intégration de la solution Planisware : définition des besoins, mise en œuvre et paramétrage, déploiement, support, administration, maintenance évolutive, conduite du changement, formation et audit.</p>
						<a href="https://fr.linkedin.com/in/samuelkauffmann" class="social-icon social-icon-border social-icon-dark">
							<i class="fa fa-linkedin"></i>
							<i class="fa fa-linkedin"></i>
						</a>
					</div>
				</div>
			</div>

          </div>
        <!-- /.row -->
    </div><!-- /.container -->
</section>

