layout: trainings
---
<div class="container">
  <div class="row">
    <h2 class="text-rosy">Catalogue des formations</h2>
    <div class="col-sm-8 col-md-9">
      <section id="who_we_are" class="who_we_are">
        <ul class="fa-ul">
            <li><h3 class="text-green"><i class="fa-li fa fa-graduation-cap"></i> Organisme de formation agréé</h3>
            <p>Tyneo Consulting est un organisme de formation agréé<!-- et enregistré sous le numéro XXXXX -->. Nos formations peuvent donc bénéficier des financements par un OPCA, du dispositif mis en place par Pôle Emploi, du DIF et du CIF.</p>
            </li>
            <li><h3 class="text-blue"><i class="fa-li fa fa-globe"></i> Où que vous soyez</h3>
            <p>Les programmes de formation Tyneo Consulting peuvent être dispensés sur votre lieu de travail ou dans nos centres de formation partenaires.</p>
            </li>
            <li><h3 class="text-grey"><i class="fa-li fa fa-plus-circle"></i> Des programmes sur mesure</h3>
            <p>La plupart des formations Tyneo Consulting peuvent être personnalisées afin d'intégrer les processus internes de votre entreprise ou d'adresser des problématiques spécifiques.</p>
        </li></ul>
      </section>
   </div>
    

    <div class="col-sm-4 col-md-3 sidebar ">
        <ul class="nav nav-sidebar buffer-top">
            <li><a href="#">Catalogue des formations</a></li>
            <li><a href="#">Demande de devis</a></li>
        </ul>
        <div class="block block-blue text-center">
            <p>Besoin d'étudier nos formations au calme ? d'imprimer notre catalogue ou de le partager ?</p>
            <a href="" class="btn btn-dark">Téléchargez le catalogue</a>
        </div>
    </div>
  </div><!--/row-->
</div>