#wrapper {
	width:980px;
	margin: 0 auto 0 auto;
}

nav ul li {
	display:inline-block;
}


#brief article {
	border:1px dashed #444;
	width:320px;
	float:left;
}
#brief article header, #brief article footer {
	border:1px dashed #ccc;
	background:#ddd;
}

#footer {
	clear:both;
}