layout: events
scope: About
title: Events and publications
description: Tyneo actively participates in many events throughout the year...
keywords: events, tyneo, contact, publication
og_type: website
---
<div class="row">
    <h2 class="text-rosy">Events and publications</h2>
    <p>Tyneo actively participates in many events throughout the year. Would you like to share your PPM/EPM or RM issues with us? Let's get in touch and make most of these events to be shared.</p>
</div>