layout: about
title: About us
description: Tyneo Consulting is a consulting company primarily focused on the implementation of project management and requirements management tools.
keywords: about, tyneo, information, company
og_type: website
---
<div class="row">
    <div class="col-lg-12">
        <h2 class="text-rosy wow fadeIn">Who Are We?</h2>
        <p class="lead wow fadeIn">Tyneo Consulting is a consulting company primarily focused on the implementation of project management and requirements management tools.</p>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <p class="wow fadeIn">While we are deeply committed to information technology, our passion is improving our customers' processes. In collaboration with our clients and supplying partners, we implement adapted and customized solutions according to the needs of organizations with a sustainable approach.</p>
        <p class="wow fadeIn">Our culture is based on three core values that clearly define everything we do: team spirit, innovation and a sustainable approach.</p>
    </div>
</div>

<aside class="block block-blue">
        <h3 class="title wow fadeIn">Our Team Spirit</h3>
        <p class="wow fadeIn">We are always enthusiastic about collaborating with our partners, whether they are collaborators, customers or suppliers. Our goal is to overcome the challenges we come across. To this end, it seems essential to move forward together and in the same direction.</p>
</aside>

<aside class="block block-rosy">
    <h3 class="title wow fadeIn">Innovation</h3>
    <p class="wow fadeIn">Reaching beyond consultancy. Tyneo Consulting is not only a consulting firm. Beyond our consulting offer, we like to share our knowledge, create and innovate – that is why we were quick to create, from the very start, our own training centre, as well as a lab'tech to study, test and launch innovative products.</p>
</aside>


<aside class="block block-green">
    <h3 class="title wow fadeIn">A Sustainable Approach</h3>
    <p class="wow fadeIn">We commit ourselves to offer the best solutions, in compliance with good practices and with a sustainable perspective. What we do today, we want it to evolve tomorrow, that it is understandable and maintainable by others as needed.</p>
</aside>

<h2 class="text-blue wow fadeIn">They Have Placed their Trust in Us </h2>
<p class="wow fadeIn">Since 2012, we have worked with major players in the automotive, defence, energy, engineering, consulting and information technology industries.</p>
<div class="references">
<div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/dalkia.png" alt="Dalkia (Groupe EDF)" /></div>
  <div class="col-md-4"><img src="/images/references/edenred.png" alt="Edenred" /></div>
  <div class="col-md-4"><img src="/images/references/erdf.png" alt="ErDF" /></div>
</div><div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/michelin.png" alt="Michelin" /></div>
  <div class="col-md-4"><img src="/images/references/microfocus.png" alt="Microfocus" /></div>
  <div class="col-md-4"><img src="/images/references/min_def.png" alt="Ministère de la défense" /></div>
</div><div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/nuon.png" alt="Nuon" /></div>
  <div class="col-md-4"><img src="/images/references/renault.png" alt="Renault" /></div>
  <div class="col-md-4"><img src="/images/references/sanofi.png" alt="Sanofi" /></div>
</div><div class="row top-padding-s bottom-buffer">
  <div class="col-md-4"><img src="/images/references/sncf.png" alt="SNCF" /></div>
  <div class="col-md-4"><img src="/images/references/vattenfall.png" alt="Vattenfall" /></div>
  <div class="col-md-4"><img src="/images/references/vix.png" alt="Vix" /></div>
</div>
<hr class=""/>
<div class="row top-padding-s">
  <div class="col-md-4"><img src="/images/references/atos.png" alt="ATOS" /></div>
  <div class="col-md-4"><img src="/images/references/cgi.png" alt="CGI" /></div>
  <div class="col-md-4"><img src="/images/references/compliance_consulting.png" alt="Compliance Consulting" /></div>
</div><div class="row top-padding-s bottom-buffer">
  <div class="col-md-4"> </div>
  <div class="col-md-4"><img src="/images/references/sopra.png" alt="SOPRA" /></div>
</div>
</div>
